::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #45536733;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#455367;
    border-radius: 20px;
    width: 5px;
    cursor: pointer;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #45536780;
}