#firstSection {
    display: flex;
    height: 30rem;
    align-items: center;
    justify-content: center;
}

#contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#textWrapper {
    padding: 3rem;
}

#textWrapper h1 {
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}

hr {
    margin: 10px 0;
}

#contentWrapper p {
    font-size: 1.1rem;
    color: #0d0b0896;
}

#contentWrapper img {
    height: 20rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 10px;
}

#sectionDivider {
    border: none;
    margin: 1rem 8rem;
    height: 2px;
    background-color: #0D0B08;
    border-radius: 10px;
}

#resources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    box-shadow: 0 0 8px;
    height: fit-content;
    width: fit-content;
    width: 55rem;
    transition-duration: .2s;
}

article:hover {
    scale: 1.02;
}

article img {
    flex: 1;
    object-fit: cover;
    width: 20rem;
}

.articleText {
    flex: 1;
    margin: 1rem 2rem;
}

.articleText h2 {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    width: fit-content;
}

.articleText h2:hover {
    color: #565656;
    cursor: pointer;
}

.articleText p {
    font-size: 1.1rem;
    color: #0d0b0896;
}

@media (max-width: 768px) {
    #firstSection {
        margin: 5rem 0;
    }
}