#pageTitle {
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin: 2rem 0;
}

hr {
    margin: 10px 0;
}

#sectionDivider {
    border: none;
    margin: 1rem 8rem;
    height: 2px;
    background-color: #0D0B08;
    border-radius: 10px;
}

#resources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    justify-content: flex-end;
    flex-direction:column-reverse;
    margin: 2rem;
    box-shadow: 0 0 8px;
    transition-duration: .2s;
    width: 20rem;
    height: 30rem;
}

article:hover {
    scale: 1.05;
}

article img {
    object-fit: cover;
    width: 20rem;
    height: 10rem;
}

.articleText {
    margin: 1rem 2rem;
}

.articleText h2 {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.articleText h2:hover {
    color: #565656;
    cursor: pointer;
}

.articleText p {
    font-size: 1.1rem;
    color: #0d0b0896;
}

@media (max-width: 768px) {
    #firstSection {
        margin: 5rem 0;
    }
}