#tableWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tableBackground {
    background-image: url("../media/plannerBanner.jpg");
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    scale: 1.1;
}

#planner {
    background-color: white;
    position: absolute;
    padding: 15px;
    box-shadow: 0 5px 15px;
    border-radius: 10px;
}

#planner tr td {
    border: 1px solid black;
    min-width: 7rem;
    padding: 10px 5px;
}