/* 111111 161616 59C3C3 */

body {
  background-color: #212121;
}

#background {
  position: absolute;
  width: 100vw;
  z-index: -1;
}

#patternWrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  box-shadow: 0px 10px 50px 15px;
}

#pattern {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* generates a pattern from https://css-pattern.com/ */
  --s: 80px; /* control the size */
  --c1: #111111; /* color 1 */
  --c2: #212121; /* color 2 */
  
  --_g: var(--c1)        6.25%,var(--c2)  6.3% 18.75%,var(--c1) 18.8% 31.25%,
        var(--c2) 31.3% 43.75%,var(--c1) 43.8% 56.25%,var(--c2) 56.3% 68.75%,#0000 0;
  background:
    radial-gradient(var(--s) at 100% 0   ,var(--_g)),
    radial-gradient(var(--s) at 0    0   ,var(--_g)),
    radial-gradient(var(--s) at 0    100%,var(--_g)),
    radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
  background-size: var(--s) var(--s);
}

#gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), #111111);
}

main {
  width: 80%;
}

nav {
  margin: 50px 0px 20px 0px;
}

#logo {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  padding: 14px 12px;
  background-color: rgba(0, 255, 255, .5);
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
}

.textWrapper {
  display: inline-block;
  padding: 10px;
}

#websiteTitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

#websiteSubtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1px;
}

#mainImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 100% 60%;
  box-shadow: 0px 30px 30px -30px;
}