/* 111111 161616 rgba(0, 255, 255, .5) */

body {
  background-color: #181818;
  overflow-x: hidden;
  z-index: 1;
}

#background {
  position: absolute;
  width: 100vw;
  z-index: -1;
}

#patternWrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  box-shadow: 0px 10px 50px 15px;
}

#pattern {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* generates a pattern from https://css-pattern.com/ */
  --s: 80px; /* control the size */
  --c1: #111111; /* color 1 */
  --c2: #181818; /* color 2 */
  
  --_g: var(--c1)        6.25%,var(--c2)  6.3% 18.75%,var(--c1) 18.8% 31.25%,
        var(--c2) 31.3% 43.75%,var(--c1) 43.8% 56.25%,var(--c2) 56.3% 68.75%,#0000 0;
  background:
    radial-gradient(var(--s) at 100% 0   ,var(--_g)),
    radial-gradient(var(--s) at 0    0   ,var(--_g)),
    radial-gradient(var(--s) at 0    100%,var(--_g)),
    radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
  background-size: var(--s) var(--s);
}

#gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), #111111);
}

main {
  width: 80%;
}

nav {
  margin: 30px 0px 50px 0px;
  letter-spacing: 2px;
  display: flex;
}

#logo {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  padding: 14px 12px;
  background-color: rgba(0, 255, 255, .5);
  color: black;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  display: inline-block;
}

.textWrapper {
  display: inline-block;
  padding: 15px;
}

#websiteTitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

#websiteSubtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

#menu {
  display: inline-block;
  background-image: linear-gradient( to right,
    rgba(255, 255, 255, .1), 
    rgba(255, 255, 255, .1) 90%, 
    rgba(255, 255, 255, .0) 100%
    );
  width: fit-content;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: 0;
}

.menuItem {
  display: inline-block;
  padding: 20px;
}

.menuItem a {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}

.active {
  border-bottom: 3px solid rgba(0, 255, 255, .5);
  border-image: linear-gradient( to right,
    rgba(255, 255, 255, 0), 
    rgba(0, 255, 255, .6), 
    rgba(255, 255, 255, 0)
    ) 1;
  }

#imgWrapper {
  position: relative;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0px 50px 30px -30px, 0px 0px 15px 1px;
}

#mainImg {
  height: 65vh;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(70%);
}

img {
  width: 100%;
}

#imgTitle {
  position: absolute;
  text-align: center;
  top: 70%;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 20px;
}

#imgSubtitle {
  position: absolute;
  top: 80%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.light {
  height: 20px;
  width: 60%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  filter: blur(40px);
  z-index: -1;
  position: relative;
}

#content {
  position: relative;
  z-index: -2;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
  gap: 20px;
}

.column h2 {
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}

.symbol {
  color: rgba(255, 255, 255, 0.2);
}

.taped {
  padding: 20px;
}

.taped::after {
  content: url(media/tape.png);
}