/* scroll bar adjustments */
/* width */
::-webkit-scrollbar {
  position: absolute;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  opacity: 0;

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #522e3a; 
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c222b; 
}

/* Fix up all lines to not look like lines */
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}


/* if screen size is lower than 800px = mobile */
@media screen and (max-width: 800px) {
  
  .explorerImg {
    width: 100%;
  }
  
  .arrow {
  height: 60px;
  }
  
}