* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: customFont;
    src: url(media/font/RobotoCondensed-Regular.ttf);
  }

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(255, 255, 255, .5); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .3); 
  }

body {
  font-family: "customFont";
}

.topX {
    display: flex;
    justify-content: center;
}

.rightX {
    display: flex;
    justify-content: right;
}

.centerX {
    display: flex;
    justify-content: center;
}

.leftX {
    display: flex;
    justify-content: left;
}

.topY {
    display: flex;
    align-items: start;
}

.centerY {
    display: flex;
    align-items: center;
}

.bottomY {
    display: flex;
    align-items: end;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noAction {
 pointer-events: none;
}

.action {
    cursor: pointer;
}