/* scroll bar adjustments */
/* width */
::-webkit-scrollbar {
  position: absolute;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  opacity: 0;

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #522e3a; 
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c222b; 
}