body {
    margin: 0;
    background-color:   black;
}

.menu{
    text-align: left;
    margin: 20px;
    padding-left: 100px;
 }
 
 .menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
 }
 
 .menu li a{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration:none;
 }
 
 .MenuEndLine {
     border-right: 2px solid 
     #ff4d33;
     margin-right: 10px;     
 }
 
 .navtext {
  font-size: 12px;
  font-weight: thin 500;
  padding-right: 30px;
  font-size: 15px;
}

#selectedPage {
  opacity: 50%;
}

 #logo {
     width: 50px;
     height: 50px;
     top: 0;
     left: 0;
     position: absolute;
     margin: 40px;
 }

#contactButton {
  top: 0;
  right: 0;
  position: absolute;
  margin: 42px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 100px;
  border: #ff4d33;
  background-color: #ff4d33;
  border-radius: 30px;
  border-style: solid;
  font-size: 15px;
}

 .banner {
    height:250px ;
}


 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
 }

.whitetext {
    color: white;
}

.orangetext {
    color: #ff4d33;
}

 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold 500;
    
 }

 .orangeFirstWord:before {
    color: #ff4d33;
    content: "Lorem ipsum ";
  }

 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: medium 200;
 }

 h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: light 500;
 }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: thin 100;
}

.banner {
    color: #fff;
   filter:drop-shadow( 0px 0px 100px #ff4d33)
}

.flickeringImage {
    animation: flickering 3s infinite;
    -webkit-animation: fadeIn 3s infinite;
  -moz-animation: fadeIn 3s infinite;
  -o-animation: fadeIn 3s infinite;
  -ms-animation: fadeIn 3s infinite;
}

@keyframes fadeIn {
    0% { opacity: 20%; }
    5% { opacity: 1;}
    10% { opacity: 20%;}
    15% { opacity: 1; }
    30% { opacity: 1; }
    45% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 20%; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 20%; }
  5% { opacity: 1;}
  10% { opacity: 20%;}
  15% { opacity: 1; }
  30% { opacity: 1; }
  45% { opacity: 20%; }
  85% { opacity: 1; }
  100% { opacity: 20%; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 20%; }
    5% { opacity: 1;}
    10% { opacity: 20%;}
    15% { opacity: 1; }
    30% { opacity: 1; }
    45% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 20%; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 20%; }
    5% { opacity: 1;}
    10% { opacity: 20%;}
    15% { opacity: 1; }
    30% { opacity: 1; }
    45% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 20%; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 20%; }
    5% { opacity: 1;}
    10% { opacity: 20%;}
    15% { opacity: 1; }
    30% { opacity: 1; }
    45% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 20%; }
  }

  .flickeringImage2 {
    animation: flickering 2s infinite;
    -webkit-animation: fadeIn 2s infinite;
  -moz-animation: fadeIn 2s infinite;
  -o-animation: fadeIn 2s infinite;
  -ms-animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
    15% { opacity: 20%; }
    30% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    15% { opacity: 20%; }
    30% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    15% { opacity: 20%; }
    30% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    15% { opacity: 20%; }
    30% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    15% { opacity: 20%; }
    30% { opacity: 20%; }
    85% { opacity: 1; }
    100% { opacity: 1; }
  }

#copyright {
  font-size: 15px;
}