.cardGroups,
.cardGroup,
.card {
  aspect-ratio: 3 / 2;
}

.cardGroups,
.cardGroup,
.largeCard {  
  width: 75vmin;
}

.card a {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.largeCard:nth-child(1) {
    transform: none;
}

.cardGroup:hover > .largeCard:nth-child(1) {
    transform: scale(1.1) rotate(1deg);
}