@font-face {
    font-family: "customFont";
    src: url(.media/font/zh-cn.ttf);
    font-weight: bold;
  }

#tableWrapper {
  height: 100vh;
}

.tile {
  margin: -3px -1px;
  width: 80px;
}

#player {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
}

td {
  position: relative;
}

.hitbox {
  margin: -3px -1px;
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}