body {
    margin: 0;
    background-color: #312e2b;
    position: relative;
}

#maingrid {
    display: grid;
    height: 100vh;
    grid-template-columns: 170px 1fr 550px 550px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "nav blank SSP titleScoreButtons blank2";
}
/*Styling of menu*/
nav {
    grid-area: nav;
    background-color: #272522;
}

ul {
    padding: 0;
}

.menu{
    text-align: left;
 }
 
 .menu li{
    list-style-type: none;
    text-align: center;
 }

/*Styling of buttons in menu*/
 h4 {
    color: #ffffff;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
 }
 
.buttonMain {
float: left;
padding-left: 10px;
}

.buttonMain :hover {
    cursor: pointer;
}

.buttonImage {
    display: inline-block;
    max-height: 35px;
    max-width: 35px;
    padding-right: 10px;
}

.buttonText {
    display: inline-block;
}


#titleScoreButtons {
    grid-area: titleScoreButtons;
    padding-left: 30px;
}

#SSP {
    grid-area: SSP;
    position: relative;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}



.score {
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 40px;
  }

#scoreTied:after {
    color: #87827d;
    content: " Tied";
}

#scoreWon:after {
    color: #87827d;
    content: " Won";
}

#scoreLost:after {
    color: #87827d;
    content: " Lost";
}

.scoreChild {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

#buttons button{
    display: block;
    margin: 50px;
    height: 90px;
    width: 380px;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 1px 1px #312e2b;
}

#buttons {
    padding-left: 20px;
}

#btn1 {
    background-color: #7ca354;
    border-bottom-color: #495c35;
}

#btn1:hover {
    background-color: #95c665;
    border-bottom-color: #7c9b5a;
    cursor: pointer;
}

#btn2 {
    background-color: #c9af32;
    border-bottom-color: #827220;
}

#btn2:hover {
    background-color: #e4c838;
    border-bottom-color: #a08c27;
    cursor: pointer;
}

#btn3 {
    background-color: #669fc0;
    border-bottom-color: #3c5c6e;
}

#btn3:hover {
    background-color: #7cc0e8;
    border-bottom-color: #4c758d;
    cursor: pointer;
}

.zoom {
    transition: transform .2s;
    transition: scale(1);
}
  
  .zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .center {
    margin: auto;
    width: 50%;
  }

  h3 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#userChoiceText {
    position: absolute;
    top: 20px;
    left: 50px;
}

#cpuChoiceText {
    position: absolute;
    bottom: 20px;
    right: 50px;
}

#animation {
    position: relative;
}

#animation img {
    max-height: 230px;
    max-width: 230px;
    position: absolute;
    opacity: 0%;
    padding-top: 200px;
}

#userChoiceText:before {
    color: #87827d;
    content: "You chose ";
}

#cpuChoiceText:before {
    color: #87827d;
    content: "CPU chose ";
}

#fireworks {
    max-width: 500px;
    display: none;
}


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #272522;
	border-radius: 5px;
	width: 40%;
	position: relative; 
	transition: all 5s ease-in-out;
}

.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #9b9b9b;
    cursor: pointer;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container {
	border-radius: 5px;
	background-color: #272522;
	padding: 20px 0;
}

#loginPopup {
    text-align: center;
    display: inline-block;
}

#loginTitle {
        font-size: 38px;
}

#loginSubtitle {
    color: #9b9b9b;
    font-size: 18px;
}

.input {
padding-left: 10px;
height: 35px;
width: 490px;
background-color: #312e2b;
border: solid 1px #9b9b9b;
margin-bottom: 30px;
border-radius: 2px;
}

#rememberMe {
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;

}

input, select, textarea{
    color: #ffffff;
}
.submitButton {
    height: 60px;
    width: 500px;
    cursor: pointer;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #ffffff;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 1px 1px #312e2b;
    display: inline-block;
}

#loginButton {
    background-color: #95c665;
    border-bottom-color: #7c9b5a;
    margin-bottom: 20px;
}

#signUpButton {
    background-color: #c9af32;
    border-bottom-color: #827220;
}

#accountPopup {
    text-align: center;
    display: inline-block;
}

#avatarIcon {
    max-width: 100px;
}   

#totalScoreWon:after {
    color: #9b9b9b;
    content: " Won";
}

#totalScoreLost:after {
    color: #9b9b9b;
    content: " Lost";
}

#resetButton {
    background-color: #c93232;
    border-bottom-color: #822020;
    font-size: 18px;
    height: 60px;
    width: 150px;
    right: 20px;
    bottom: 20px;
    position: absolute;
}

#battlepassWrapper {
    width: 70%;
    height: 550px;
}

#battlepassLevels {
    grid-area: BPLevels;
    display: inline-block;
}

#freepass {
    grid-area: freepass;
}

#paidpass {
    grid-area: paidpass;
}


#battlepassPopup {
    display: inline-block;
}

#mainBattlepass {
    background-color: #312e2b;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    grid-template-areas:
    "BPLevels"
    "freepass"
    "xpLevel"
    "paidpass";
}

.battlepassLevel {
    color: #ffffff;
    position: relative;
    margin: 10px;
    top: 0;
    font-size: 18px;
    font-family:  'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 160px;
    left: 35px;
}

#xpProgressBar {
    width: 100%;
    position: relative;
    bottom: 10px;
    left: 100px;
    right: 100px;
}

#xpProgress {
    width: 100%;
    background-color: grey;
}

#xpBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#freepassTitle {
  background-color: #669fc0;
  border: #3c5c6e 1px solid;
}

#paidpassTitle {
    background-color: #c9af32;
    border: #827220 1px solid;
  }

.passTitle {
    transform: rotate(-90deg);
    display: inline-block;
    padding: 10px;
    position: relative;
    top: -52px;
}

.freeReward {
    background-color: #669fc0;
    border: #3c5c6e 10px solid;
    border-radius: 5px;
    height: 120px;
    width: 120px;
    margin: 20px;
    margin-bottom: 0;
    display: inline-block;
}

.paidReward {
    background-color: #c9af32;
    border: #827220 10px solid;
    border-radius: 5px;
    height: 120px;
    width: 120px;
    margin: 20px;
    margin-top: 10px;
    display: inline-block;
}

.tierReward {
    opacity: 50%;
}

.rewardImage {
    height: 120px;
    max-width: 120px;
} 

div.horizontalScroll {
    overflow: auto;
    white-space: nowrap;
  }

div.verticalScroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#inventoryWrapper {
    width: 72%;
    height: 580px;
}

#inventoryPopup {
    display: inline-block;
}

#mainInventory {
    height: 500px;
    background-color: #312e2b;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "InvRocks InvPapers InvScissors InvEmotes";
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7ca354;
    border-radius: 10px;
  }

.coinWrapper {
    position: absolute;
	top: 20px;
	left: 30px;
    color: #ffffff;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    background-color:#312e2b;
    border-radius: 10px;
    padding: 10px;
}

.coinWrapper img {
    height: 30px;
    display: inline;
}

.coinWrapper p {
    display: inline;
}