#workContainer {
    display: flex;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.work {
  flex: 1;
}

.work img {
  object-fit: contain;
}

.work::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 10%;
  rotate: 45deg;
  background-color: rgba(255, 255, 255, .2);
  z-index: 1;
  transition-duration: .2s;
  filter: blur(1px);
}

.work:hover .work::before {
    transform: translate(-50%, 100%);
}