<header class="hide">
    <nav>
        <a href="/index.html">
            <img src="/media/favicon.png">
            <h1>Daniel</h1>
        </a>
        <ul>
            <li>
                <a class="link" href="/pages/portfolio.html">Portfolio</a>
            </li>
            <li>
                <a class="link" href="/pages/photos.html">Photos</a>
            </li>
            <li class="hamburger">
                <a href="#" class="dropdown" onclick="dropMenu()"><div class="bar"></div></a>
                <div class="drop">
                    <a class="link dropLink" href="/pages/portfolio.html">Portfolio</a>
                    <a class="link dropLink" href="/pages/photos.html">Photos</a>
                </div>
            </li>
        </ul>
    </nav>
</header>