* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #222327;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.nav {
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.nav ul {
    display: flex;
    width: 350px;
}
.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.nav ui li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.nav ui li .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transision: .5s;
    color: var(--clr)
}
.nav ui li.active .icon {
    transform: translateY(-35px);
}
.nav ui li .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05;
    transision: .5s;
    opacity: 0;
    transform: translateY(20px);
}
.nav ui li.active .text {
    opacity: 1;
    transform: translateY(10px);
}